

#content {
    max-width: 1600px;
    margin: 0 auto;
}
div.parallax {
    background-image: url("images/hero.png");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}